USE [master]
GO
/****** Object:  Database [TEC]    Script Date: 2021-04-30 12:01:54 AM ******/

USE master
GO
if exists (select * from sysdatabases where name='TEC')
		drop database TEC
go
CREATE DATABASE [TEC]
GO
USE [TEC]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](255) NOT NULL,
	[DepartmentDescription] [varchar](255) NOT NULL,
	[InvocationDate] [datetime] NOT NULL,
	[RecordVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(10000000,1) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[JobID] [int] NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[MI] [varchar](10) NULL,
	[LastName] [varchar](255) NOT NULL,
	[SIN] [varchar](255) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[StreetAddress] [varchar](255) NOT NULL,
	[Municipality] [varchar](255) NOT NULL,
	[Province] [varchar](255) NOT NULL,
	[Country] [varchar](255) NOT NULL,
	[PostalCode] [varchar](255) NOT NULL,
	[SeniorityDate] [datetime] NOT NULL,
	[JobStartDate] [datetime] NOT NULL,
	[WorkPhone] [varchar](255) NOT NULL,
	[CellPhone] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Supervisor] [int] NULL,
	[RetirementDate] [datetime] NULL,
	[TerminationDate] [datetime] NULL,
	[Active] [int] NOT NULL,
	[RecordVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobID] [int] NOT NULL,
	[JobName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[PONumber] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
	[OrderItemName] [varchar](255) NOT NULL,
	[OrderItemDescription] [varchar](255) NOT NULL,
	[OrderItemJustification] [varchar](255) NOT NULL,
	[OrderItemLocation] [varchar](255) NOT NULL,
	[OrderItemQty] [int] NOT NULL,
	[OrderItemPrice] [decimal](9, 2) NOT NULL,
	[RecordVersion] [timestamp] NOT NULL,
	[Reason] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[PONumber] [int] IDENTITY(100,1) NOT NULL,
	[StatusID] [int] NOT NULL,
	[POCreationDate] [datetime] NOT NULL,
	[POSubtotal] [decimal](9, 2) NOT NULL,
	[POTax] [decimal](9, 2) NOT NULL,
	[POTotal] [decimal](9, 2) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[RecordVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PONumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[SupervisorID] [int] NOT NULL,
	[ReviewDate] [datetime] NOT NULL,
	[PerformanceRating] [varchar](255) NOT NULL,
	[Comment] [varchar](255) NOT NULL,
	[RecordVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusLookup]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusLookup](
	[StatusID] [int] NOT NULL,
	[StatusName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DepartmentDescription], [InvocationDate]) VALUES (1, N'HR', N'Human Resources', CAST(N'2005-04-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DepartmentDescription], [InvocationDate]) VALUES (2, N'PO', N'Purchase Order Requests', CAST(N'2010-05-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DepartmentDescription], [InvocationDate]) VALUES (3, N'Management', N'Overseers of the company', CAST(N'2004-06-06T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[Job] ([JobID], [JobName]) VALUES (1, N'IT Support')
INSERT [dbo].[Job] ([JobID], [JobName]) VALUES (2, N'Janitor')
INSERT [dbo].[Job] ([JobID], [JobName]) VALUES (3, N'Accountant')
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [PONumber], [StatusID], [OrderItemName], [OrderItemDescription], [OrderItemJustification], [OrderItemLocation], [OrderItemQty], [OrderItemPrice], [Reason]) VALUES (1, 100, 1, N'Pen', N'Ball Point Pen', N'Need more pens', N'Staples', 2, CAST(1.30 AS Decimal(9, 2)), NULL)
INSERT [dbo].[OrderItem] ([OrderItemID], [PONumber], [StatusID], [OrderItemName], [OrderItemDescription], [OrderItemJustification], [OrderItemLocation], [OrderItemQty], [OrderItemPrice], [Reason]) VALUES (2, 100, 1, N'Stapler', N'Large office stapler', N'Need to staple papers', N'Office Depot', 1, CAST(2.00 AS Decimal(9, 2)), NULL)
INSERT [dbo].[OrderItem] ([OrderItemID], [PONumber], [StatusID], [OrderItemName], [OrderItemDescription], [OrderItemJustification], [OrderItemLocation], [OrderItemQty], [OrderItemPrice], [Reason]) VALUES (3, 101, 1, N'Paper Shredder', N'Industrial paper shredder. Extra strength.', N'Need one for each side of the office', N'Staples', 2, CAST(75.00 AS Decimal(9, 2)), NULL)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrder] ON 

INSERT [dbo].[PurchaseOrder] ([PONumber], [StatusID], [POCreationDate], [POSubtotal], [POTax], [POTotal], [EmployeeID]) VALUES (100, 1, CAST(N'2021-04-29T22:36:48.973' AS DateTime), CAST(4.60 AS Decimal(9, 2)), CAST(0.60 AS Decimal(9, 2)), CAST(5.20 AS Decimal(9, 2)), 10000001)
INSERT [dbo].[PurchaseOrder] ([PONumber], [StatusID], [POCreationDate], [POSubtotal], [POTax], [POTotal], [EmployeeID]) VALUES (101, 1, CAST(N'2021-04-29T22:46:45.650' AS DateTime), CAST(150.00 AS Decimal(9, 2)), CAST(19.50 AS Decimal(9, 2)), CAST(169.50 AS Decimal(9, 2)), 10000001)
INSERT [dbo].[PurchaseOrder] ([PONumber], [StatusID], [POCreationDate], [POSubtotal], [POTax], [POTotal], [EmployeeID]) VALUES (102, 1, CAST(N'2021-04-29T22:47:54.670' AS DateTime), CAST(15.00 AS Decimal(9, 2)), CAST(1.95 AS Decimal(9, 2)), CAST(16.95 AS Decimal(9, 2)), 10000001)
SET IDENTITY_INSERT [dbo].[PurchaseOrder] OFF
GO
INSERT [dbo].[StatusLookup] ([StatusID], [StatusName]) VALUES (1, N'Pending')
INSERT [dbo].[StatusLookup] ([StatusID], [StatusName]) VALUES (2, N'Approved')
INSERT [dbo].[StatusLookup] ([StatusID], [StatusName]) VALUES (3, N'Denied')
GO
ALTER TABLE [dbo].[OrderItem] ADD  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT (getdate()) FOR [POCreationDate]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0.0)) FOR [POSubtotal]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0.0)) FOR [POTax]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT ((0.0)) FOR [POTotal]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([JobID])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([PONumber])
REFERENCES [dbo].[PurchaseOrder] ([PONumber])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[StatusLookup] ([StatusID])
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[StatusLookup] ([StatusID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
/****** Object:  StoredProcedure [dbo].[spAddDepartment]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROC [dbo].[spAddDepartment]
    @DepartmentOutputPARM INT OUTPUT,
    @DepartmentName VARCHAR(255),
    @DepartmentDescription VARCHAR(255),
    @InvocationDate DATETIME2
AS
BEGIN
    BEGIN TRY
        INSERT INTO Department(
            DepartmentName,
            DepartmentDescription,
            InvocationDate)
        VALUES(
            @DepartmentName,
            @DepartmentDescription,
            @InvocationDate)
        SET @DepartmentOutputPARM = SCOPE_IDENTITY()
    END TRY
    BEGIN CATCH
        ;THROW
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEmployee]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[spAddEmployee]
    @EmployeeOutputPARM INT OUTPUT,
    @DepartmentID INT,
    @JobID INT,
    @Password VARCHAR(255),
    @FirstName VARCHAR(255),
    @MI VARCHAR(10),
    @LastName VARCHAR(255),
    @SIN VARCHAR(255),
    @DOB DATETIME2,
    @StreetAddress VARCHAR(255),
    @Municipality VARCHAR(255),
    @Province VARCHAR(255),
    @Country VARCHAR(255),
    @PostalCode VARCHAR(255),
    @SeniorityDate DATETIME2,
    @JobStartDate DATETIME2,
    @WorkPhone VARCHAR(255),
    @CellPhone VARCHAR(255),
    @Email VARCHAR(255),
    @Supervisor INT,
	@Active BIT
AS
BEGIN
    BEGIN TRY
        INSERT INTO Employee(
            DepartmentID,
            JobID,
            Password,
            FirstName,
            MI,
            LastName,
            SIN,
            DOB,
            StreetAddress,
            Municipality,
            Province,
            Country,
            PostalCode,
            SeniorityDate,
            JobStartDate,
            WorkPhone,
            CellPhone,
            Email,
            Supervisor,
			Active)
        VALUES(
            @DepartmentID,
            @JobID,
            @Password,
            @FirstName,
            @MI,
            @LastName,
            @SIN,
            @DOB,
            @StreetAddress,
            @Municipality,
            @Province,
            @Country,
            @PostalCode,
            @SeniorityDate,
            @JobStartDate,
            @WorkPhone,
            @CellPhone,
            @Email,
            @Supervisor,
			@Active)
        SET @EmployeeOutputPARM = SCOPE_IDENTITY()
    END TRY
    BEGIN CATCH
        ;THROW
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spAddPurchaseOrder]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE      PROCEDURE [dbo].[spAddPurchaseOrder]
	@RecordVersion ROWVERSION OUTPUT,
	@PONumber INT OUTPUT,
	@EmployeeID INT,
	--update status, sub, tax, total later
	--record version does not need insert

	@OrderItemID INT OUTPUT,
	@OrderItemName VARCHAR(255),
	@OrderItemDescription VARCHAR(255),
	@OrderItemJustification VARCHAR(255),
	@OrderItemPrice DECIMAL(9,2),
	@OrderItemQty INT,
	@OrderItemLocation VARCHAR(255)
AS	
BEGIN
BEGIN TRY
	BEGIN TRAN
		IF(SELECT RecordVersion FROM PurchaseOrder WHERE PONumber = @PONumber) <> @RecordVersion
			THROW 50002, 'The record has been updated since last time you retrieved it', 1

		
		INSERT INTO PurchaseOrder (EmployeeID) VALUES (@EmployeeID);
		SET @PONumber = SCOPE_IDENTITY();
		SET @RecordVersion = (SELECT RecordVersion FROM PurchaseOrder WHERE PONumber = @PONumber)

		INSERT INTO OrderItem (PONumber, OrderItemName, OrderItemDescription, OrderItemJustification, OrderItemPrice, OrderItemQty, OrderItemLocation) VALUES
		(@PONumber, @OrderItemName, @OrderItemDescription, @OrderItemJustification, @OrderItemPrice, @OrderItemQty, @OrderItemLocation);
		SET @OrderItemID = SCOPE_IDENTITY();

	COMMIT TRAN; 

END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK TRAN;  
				       
	;THROW 51000, 'Failed to insert item. The purchase order creation has been rolled back.', 1
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spEmployeeLogin]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[spEmployeeLogin]
 	@Email varchar(255),
	@Password varchar(255)
AS	
BEGIN
	BEGIN TRY
		If NOT EXISTS (SELECT * FROM employee WHERE Email = @Email)  
			BEGIN
				DECLARE @Error nvarchar(100)
				SET @Error = 'Login Failed. Email or password incorrect. Please try again';
				THROW 51005, @Error, 1
			END	 
		
  			SELECT * FROM Employee WHERE Email = @Email AND Password = @Password
	END TRY	
	BEGIN CATCH
		;THROW
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spEmployeeLookup]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE        PROCEDURE [dbo].[spEmployeeLookup]
	@EmployeeID INT
AS	
BEGIN
	BEGIN TRY

		SELECT Employee.FirstName + ' ' + Employee.MI + ' ' + Employee.LastName AS SupervisorName, Department.DepartmentName
			FROM Employee JOIN Department 
				ON Employee.DepartmentID = Department.DepartmentID
			WHERE EmployeeID = @EmployeeID;
		
			
	END TRY	
	BEGIN CATCH
		;THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllPendingOrdersForEmp]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE           PROCEDURE [dbo].[spGetAllPendingOrdersForEmp]
	@EmployeeID INT,
	@PONumber INT = 0,
	@Start DateTime = null,
	@End DateTime = null,
	@SupervisorID INT = 1
AS	
BEGIN
	BEGIN TRY
		DECLARE @SDate DATETIME	
		DECLARE @EDate DATETIME

		SET @SDate = ISNULL(@Start, '1753-1-1')
		SET @EDate = ISNULL(@End, '1753-1-1')
		
		IF(@SupervisorID = 10000000) --if supervisor get all for self and emps
			BEGIN
				IF @PONumber <> 0 -- if searching by PONum
					BEGIN
						SELECT a.*, CONCAT(b.FirstName, ' ', b.MI, ' ', b.LastName) AS [Employee] FROM PurchaseOrder a
							JOIN Employee b ON a.EmployeeID = b.EmployeeID
						WHERE a.EmployeeID IN --emps orders
							(SELECT EmployeeID FROM Employee WHERE Supervisor = @EmployeeID) 
								AND PONumber = @POnumber AND StatusID IN (1, 4, 5)
						UNION 
							SELECT *, '' AS [Employee] FROM PurchaseOrder WHERE EmployeeID = @EmployeeID -- own orders
								AND PONumber = @POnumber AND StatusID IN (1, 4, 5)
						ORDER BY POCreationDate DESC
					END

				ELSE IF @SDate <> '1753-1-1' -- if searching by dates
					BEGIN
						SELECT a.*, CONCAT(b.FirstName, ' ', b.MI, ' ', b.LastName) AS [Employee] FROM PurchaseOrder a
							JOIN Employee b ON a.EmployeeID = b.EmployeeID
						WHERE a.EmployeeID IN --emps orders
							(SELECT EmployeeID FROM Employee WHERE Supervisor = @EmployeeID) 
								AND POCreationDate BETWEEN @Start AND @End AND StatusID IN (1, 4, 5)
						UNION 
							SELECT *, '' AS [Employee] FROM PurchaseOrder WHERE EmployeeID = @EmployeeID -- own orders
								AND POCreationDate BETWEEN @Start AND @End AND StatusID IN (1, 4, 5)
						ORDER BY POCreationDate DESC
					END
				ELSE
					BEGIN -- no search params
						SELECT a.*, CONCAT(b.FirstName, ' ', b.MI, ' ', b.LastName) AS [Employee] FROM PurchaseOrder a
							JOIN Employee b ON a.EmployeeID = b.EmployeeID
						WHERE a.EmployeeID IN -- emps orders
							(SELECT EmployeeID FROM Employee WHERE Supervisor = @EmployeeID)
								AND StatusID IN (1, 4, 5)
						UNION 
							SELECT *, '' AS [Employee] FROM PurchaseOrder WHERE EmployeeID = @EmployeeID -- own orders
								AND StatusID IN (1, 4, 5)
						ORDER BY POCreationDate DESC
					END

			END
		ELSE --if regular emp
			BEGIN
				IF @PONumber <> 0 -- if searching by PONum
					BEGIN
						SELECT * FROM PurchaseOrder WHERE EmployeeID = @EmployeeID -- own orders
							AND PONumber = @POnumber AND StatusID IN (1, 4, 5)
						ORDER BY POCreationDate DESC
					END

				ELSE IF @SDate <> '1753-1-1' -- if searching by dates
					BEGIN
						SELECT * FROM PurchaseOrder WHERE EmployeeID = @EmployeeID -- own orders
							AND POCreationDate BETWEEN @Start AND @End AND StatusID IN (1, 4, 5)
						ORDER BY POCreationDate DESC
					END
				ELSE
					BEGIN -- no search params
						SELECT * FROM PurchaseOrder WHERE EmployeeID = @EmployeeID -- own orders
							AND StatusID IN (1, 4, 5)
						ORDER BY POCreationDate DESC
					END

			END		
			
	END TRY	
	BEGIN CATCH
		;THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spGetItemsList]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[spGetItemsList]
	@PONumber INT
AS	
BEGIN
	BEGIN TRY
		
		SELECT * FROM OrderItem WHERE PONumber = @PONumber
		
	END TRY	
	BEGIN CATCH
		;THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spGetOrderItemDetailsByID]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE     PROCEDURE [dbo].[spGetOrderItemDetailsByID]
	@OrderItemID INT
AS	
BEGIN
	BEGIN TRY
		
		SELECT * FROM OrderItem WHERE OrderItemID = @OrderItemID
		
	END TRY	
	BEGIN CATCH
		;THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spGetOrdersByDate]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE         PROCEDURE [dbo].[spGetOrdersByDate]
	@EmployeeID INT,
	@Start DateTime,
	@End DateTime
AS	
BEGIN
	BEGIN TRY
		
		SELECT * FROM PurchaseOrder WHERE EmployeeID = @EmployeeID AND POCreationDate BETWEEN @Start AND @End AND StatusID = 1
		ORDER BY POCreationDate DESC
		
	END TRY	
	BEGIN CATCH
		;THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spGetOrdersByPONumber]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE         PROCEDURE [dbo].[spGetOrdersByPONumber]
	@EmployeeID INT,
	@PONumber INT
AS	
BEGIN
	BEGIN TRY
		
		SELECT * FROM PurchaseOrder WHERE EmployeeID = @EmployeeID AND PONumber = @PONumber AND StatusID = 1
		
	END TRY	
	BEGIN CATCH
		;THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spGetProcessPORs]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spGetProcessPORs]
	@EmployeeID INT,
	@PONumber INT,
	@Start DateTime = null,
	@End DateTime = null,
	@SearchEmp VARCHAR(255),
	@StatusID INT = 0
AS	
BEGIN
	BEGIN TRY
		DECLARE @SDate DATETIME	
		DECLARE @EDate DATETIME
		DECLARE @sql NVARCHAR(max)

		SET @SDate = ISNULL(@Start, '1753-1-1')
		SET @EDate = ISNULL(@End, '1753-1-1')
		
			BEGIN			

				SET @sql = 'WITH EmployeeCTE AS
							(
								SELECT EmployeeID, CONCAT(FirstName, '' '', MI, '' '', LastName) AS Employee
								FROM Employee
							)

							SELECT 
								PONumber, 
								StatusID, 
								POCreationDate, 
								POSubtotal, 
								POTax, 
								POTotal, 
								RecordVersion,
								EmployeeCTE.EmployeeID,
								Employee
							FROM PurchaseOrder
								JOIN EmployeeCTE ON PurchaseOrder.EmployeeID = EmployeeCTE.EmployeeID
							WHERE EmployeeCTE.EmployeeID IN 
								(SELECT EmployeeID FROM Employee WHERE Supervisor = @EmployeeID)';

				IF @PONumber <> 0
					SET @sql = @sql + ' AND PONumber = @POnumber ';

				IF @SDate <> '1753-1-1'
					SET @sql = @sql + ' AND POCreationDate BETWEEN @Start AND @End ';

				IF DATALENGTH(@SearchEmp) > 0
					SET @sql = @sql + 'AND Employee LIKE  ''%''+ @SearchEmp +''%'' ';

				IF @StatusID <> 10
					SET @sql = @sql + ' AND StatusID = @StatusID ';

				SET @sql = @sql + ' ORDER BY POCreationDate ASC';

			END

			BEGIN

				EXEC sp_executeSql @sql,
							N'@EmployeeID INT,
							@PONumber INT,
							@Start DateTime = null,
							@End DateTime = null,
							@SearchEmp VARCHAR(255),
							@StatusID INT = 0',
							@EmployeeID,
							@PONumber,
							@Start,
							@End,
							@SearchEmp,
							@StatusID
			END
			
	END TRY	
	BEGIN CATCH
		;THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spGetStatusesForLookup]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE      PROCEDURE [dbo].[spGetStatusesForLookup]
AS	
BEGIN
	BEGIN TRY
		
		SELECT * FROM [dbo].[StatusLookup]
			
	END TRY	
	BEGIN CATCH
		;THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spGetSupDep]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spGetSupDep]
	@EmployeeID INT
AS

BEGIN
	
	SELECT 
		CONCAT(e.FirstName, ' ', e.MI, ' ', e.LastName) AS [Employee],
		CONCAT(s.FirstName, ' ', s.MI, ' ', s.LastName) AS [Supervisor], 
		d.DepartmentName AS [Department]
	FROM Employee e
		INNER JOIN
			Employee s ON e.supervisor = s.employeeid
		INNER JOIN
			department d ON e.departmentid = d.departmentid
	WHERE e.employeeid = @EmployeeID
	

END
GO
/****** Object:  StoredProcedure [dbo].[spInsertItem]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spInsertItem]
	@OrderItemID INT OUTPUT,
    @RecordVersion ROWVERSION OUTPUT,

	@PONumber INT,
	@OrderItemName VARCHAR(255),
	@OrderItemDescription VARCHAR(255),
	@OrderItemJustification VARCHAR(255),
	@OrderItemPrice DECIMAL(9,2),
	@OrderItemQty INT,
	@OrderItemLocation VARCHAR(255)
AS	
BEGIN
BEGIN TRY
	BEGIN TRAN

		INSERT INTO OrderItem (PONumber, OrderItemName, OrderItemDescription, OrderItemJustification, OrderItemPrice, OrderItemQty, OrderItemLocation) VALUES
		(@PONumber, @OrderItemName, @OrderItemDescription, @OrderItemJustification, @OrderItemPrice, @OrderItemQty, @OrderItemLocation);

		SET @OrderItemID = SCOPE_IDENTITY();    
        SET @RecordVersion = (SELECT RecordVersion FROM OrderItem WHERE OrderItemID = @OrderItemID)

	COMMIT TRAN; 

END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK TRAN;  
				       
	;THROW
END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spRemoveMergedItem]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE         PROCEDURE [dbo].[spRemoveMergedItem]
	@OrderItemID INT

AS
BEGIN
	
	DELETE FROM OrderItem WHERE OrderItemID = @OrderItemID

END

GO
/****** Object:  StoredProcedure [dbo].[spSearchEmployeeByID]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSearchEmployeeByID]
	@EmployeeID INT
AS

BEGIN
	SELECT
		FirstName,MI,LastName,StreetAddress + ', ' + Municipality + ' ' + PostalCode AS [MailAddress], WorkPhone, CellPhone, Email
	FROM	
		Employee	
	WHERE
		EmployeeID = @EmployeeID
END
GO
/****** Object:  StoredProcedure [dbo].[spSearchEmployeeByLName]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spSearchEmployeeByLName]
	@LastName VARCHAR(255)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		FirstName,MI,LastName,StreetAddress + ', ' + Municipality + ' ' + PostalCode AS [MailAddress], WorkPhone, CellPhone, Email
	FROM	
		Employee	
	WHERE
		LastName LIKE '%' + @LastName + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateDupedQty]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATe    PROCEDURE [dbo].[spUpdateDupedQty]
 	@OrderItemID INT,
	@OrderItemQty INT

AS	
BEGIN
	BEGIN TRY
		UPDATE OrderItem 
			SET OrderItemQty = @OrderItemQty	
			WHERE OrderItemID = @OrderItemID;

	END TRY	

	BEGIN CATCH
		;THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateOrderItem]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE         PROCEDURE [dbo].[spUpdateOrderItem]
	@RecordVersion ROWVERSION OUTPUT,

	@OrderItemID INT,
	@OrderItemName VARCHAR(255),
	@OrderItemDescription VARCHAR(255),
	@OrderItemJustification VARCHAR(255),
	@OrderItemPrice DECIMAL(9,2),
	@OrderItemQty INT,
	@OrderItemLocation VARCHAR(255),
	@StatusID INT,
	@Reason VARCHAR(255)

AS
BEGIN
BEGIN TRY
		BEGIN TRAN
			--CHECK RECORD DELETION E2/C1

			IF(SELECT RecordVersion FROM OrderItem WHERE OrderItemID = @OrderItemID) <> @RecordVersion
				THROW 50002, 'The record has been updated since last time you retrieved it', 1


			UPDATE OrderItem SET
			
			OrderItemName = @OrderItemName,
			OrderItemDescription = @OrderItemDescription,
			OrderItemJustification = @OrderItemJustification,
			OrderItemPrice = @OrderItemPrice,
			OrderItemQty = @OrderItemQty,
			OrderItemLocation = @OrderItemLocation,
			StatusID = @StatusID,
			Reason = @Reason
			WHERE OrderItemID = @OrderItemID;

			SET @RecordVersion = (SELECT RecordVersion FROM OrderItem WHERE OrderItemID = @OrderItemID)

		COMMIT TRAN;

END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK TRAN;

	;THROW 51002, 'Failed to modify item. The modification has been rolled back', 1
END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[spUpdateOrderStatus]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE      PROCEDURE [dbo].[spUpdateOrderStatus]
 	@PONumber INT,
	@StatusID INT

AS	
BEGIN
	BEGIN TRY
		UPDATE PurchaseOrder 
			SET StatusID = @StatusID	
			WHERE PONumber = @POnumber;

	END TRY	

	BEGIN CATCH
		;THROW
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateTotals]    Script Date: 2021-05-16 11:41:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATe    PROCEDURE [dbo].[spUpdateTotals]
 	@PONumber INT,
	@subtotal decimal(11,2),
	@tax decimal(11,2),
	@total decimal(11,2)
AS	
BEGIN
	BEGIN TRY
		UPDATE PurchaseOrder 
			SET POSubtotal = @subtotal,
				POTax = @tax,
				POTotal = @total
			
			WHERE PONumber = @PONumber;

	END TRY	

	BEGIN CATCH
		;THROW
	END CATCH
END
GO
USE [master]
GO
